<h1>Editing collection</h1>

<%= error_messages_for :collection %>

<% form_for(:collection, :url => collection_path(@collection), :html => { :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>