<div class="markdown content">
  <div class="help">
    <label for="<%= name %>"><%= name.capitalize %>:</label>

    <p class="info">you can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> here.</p>
  </div>

  <textarea
    name="entry[<%= name %>]"
    id="<%= name %>"
    cols="56" rows="16"><%=h html_to_markdown(html) %></textarea>

  <input type="hidden" name="entry[<%= name %>_type]" value="markdown" />
</div>
