/* http://www.openidenabled.com/openid/openid-login-box-css-class */
input.openid_login {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}

.nav form { display: inline; }

/* major stuff */
.chunk, .collectionlist {
  border-bottom: 1px dotted #667;
  padding: 0.5em;
  margin: 1em auto;
  width: 80%;
}

.collectionlist ul {
  list-style: none;
}

a:link {
  color: #44A;
}

a:visited {
  color: #445;
}

input#logout {
}

pre.error {
  font-family: monospace;
  background: #ecb;
  margin: 1em;
  padding: 1em;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

* {
  font-family: sans-serif;
}

/* the main banner */
.head h1 {
  padding-left: 3em;
  float:left;
  width: 50%;
  text-align: center;
}

ul.usernav {
  width: 30%;
  float:right;
  list-style: none;
}

.main, h3 {
  clear: both;
}

h2 {
  margin: 2em 0 0.4em 1em;
}

table.entries {
  margin-bottom: 1em;
}

th {
  border-bottom: 1px dotted #999;
}

tr.odd {
  background: #eee;
}

td {
  padding: 0 0.5em;
}

/* editor stuff */
form {
  margin: 0 auto;
  width: 80%;
  max-width: 40em;
}

label input, textarea, label select {
  width: 70%;
  margin-left: 5%;
  border: 1px solid #ccc;
}

input.checkbox {
  width: 1em;
  height: 1em;
  margin: 0.5em;
}

label {
  display: block;
  width: 60%;
  text-align: right;
}

label.title, label.tags, label.url, label.rating {
  float: left;
  text-align: right;
  margin: 0.5em 0;
}

label.title, label.url {
  clear: left;
  width: 50%;
}

label.title input, label.url input {
  width: 76%;
  margin-left: 8%;
}

label.tags, label.rating {
  width: 30%;
  margin-left: 2%;
}

label.tags input, label.rating select {
  width: 60%;
}

.content {
  clear: both;
  padding-top: 0.3em;
  min-width : 400px;
}

.content label {
  width: 8%;
  margin-right: 4%;
  float: left;
}

.content textarea {
  margin: 0;
}

/* navigation stuff */
.nav {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
  padding: 0;
}

.nav li:before { content: " | "; }
.nav li:first-child:before { content: ""; }

/* begin css tabs */

/* these styles based on on http://unraveled.com/projects/html/css_tabs/
   used under the terms of Creative Commons Attribution 2.5 - http://creativecommons.org/licenses/by/2.5/ */

ul#tabnav { /* general settings */
  text-align: left;
  margin: 1em 0 1em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #666;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

ul#tabnav li {
  display: inline;
}

ul#tabnav li.selected a { /* settings for selected tab */
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

ul#tabnav li.selected a { /* settings for selected tab link */
  background-color: #fff;
  color: #000;
  position: relative;
  top: 1px;
  padding-top: 4px;
}

ul#tabnav li a { /* settings for all tab links */
  padding: 3px 4px;
  border: 1px solid #666;
  background-color: #eee;
  color: #666;
  margin-right: 0px;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover {
  background: #fff;
}

/* end css tabs */

/* submit buttons */

.submission {
  text-align: center;
}

.submission input, input.submit {
  margin: 0.3em auto;
  height: 2em;

  border: 1px solid #999;
  background: #ddd;
}

.submission input:hover, input.submit:hover {
  background: #eee;
}

.submission .primary {
  padding-left: 1em;
  padding-right: 1em;
  background: #ecc;
}

.submission .primary:hover {
  background: #fdd;
}

input.subtle, input.delete {
  border: 1px solid #ccc;
  background: #ddd;
}

input.subtle:hover, input.delete:hover {
  background: #eee;
}

