<h1>New collection</h1>

<%= error_messages_for :collection %>

<% form_for(:collection, :url => { :action => 'create' }) do |f| %>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', wall_path %>
