<ul id="tabnav">
  <% @user.collections.each do |coll| %>
    <li><%= link_to coll.title.to_s, collection_path(:url => coll.url) %></li>
  <% end %>
  <% if @user %><li><%= link_to "add collection", new_wall_path %></li><% end %>
</ul>

<h2>create new collection.</h2>

<%= error_messages_for :collection %>

<% form_for(:collection, :url => { :action => 'create' }) do |f| %>
  <label>url: <%= f.text_field :url %>

  <%= submit_tag "Create" %>
<% end %>
