<div class="chunk">
  <h2>couldn't find any collections.</h2>

  <p>PushPin couldn't find any Atom Publishing Protocol collections at <%=h params[:url] %></p>

  <ul>
    <li>did you type the URL correctly?</li>
    <li>is your blog Atom Publishing Protocol enabled?</li>
  </ul>
</div>
