<h2>post an entry to "<%=@coll.title.to_s%>":</h2>

<% form_for(:entry, :url => { :action => 'create' } ) do |f| %>
  <%= render :partial => "editor/#{@coll.kind}", :locals => { :f => f } %>

  <input type="hidden" name="url" value="<%=@coll_url%>" />

  <div class="submission">
    <%= submit_tag 'post it!', :class => 'primary' %>
    <input type="submit" value="save as draft" name='entry[draft]'/>
  </div>
<% end %>
