<h2>edit collection.</h2>

<%= error_messages_for :collection %>

<% form_for(:collection, :url => { :action => 'update' }, :html => { :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>
