<% if @user %>
  <%= form_tag :controller => 'logout' %>
    <input type="submit" value="logout."/>
  </form>
<% else %>
  <%= form_tag :controller => 'login' %>
    <input name="openid_url"/> <input type="submit" value="login."/>
  </form>
<% end %>
