<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'editor' %>
</head>
<body>

<div class="head">
  <h1><%= link_to 'PushPin', :controller => 'static', :action => 'index' %></h1>

  <%= render :partial => "layouts/login" %>
</div>

<div class="main">
<% if flash[:notice] %>
  <p style="color: green"><%=h flash[:notice] %></p>
<% elsif flash[:error] %>
  <p style="color: red"><%=h flash[:error] %></p>
<% end %>

<%= yield  %>
</div>

<ul class="nav">
  <li><a href="http://necronomicorp.com/lab/tag/pushpin">blog</a></li>
  <li><a href="http://necronomicorp.com/bct">brendan taylor</a></li>
</ul>

</body>
</html>
